[Desktop Entry]
Version=1.0
Name=Into The Dungeon++
Comment=Simple graphical roguelike.
Exec=itd++
Icon=itd++
Terminal=false
Type=Application
Categories=Game;
